@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div>
    <div>
        <label>
            선택1
            <input name="radiogroup1" type="radio" />
        </label>
        <label>
            선택2
            <input name="radiogroup1" type="radio" />
        </label>
    </div>
    <div>
        <label>
            선택3
            <input name="radiogroup1" type="radio" />
        </label>
        <label>
            선택4
            <input name="radiogroup1" type="radio" />
        </label>
    </div>
</div>