@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div>
    <div>
        <label>
            선택1
            <input name="radiogroup1" type="radio" />
        </label>
        <label>
            선택2
            <input name="radiogroup1" type="radio" />
        </label>
    </div>
    <div>
        <label>
            선택3
            <input name="radiogroup1" type="radio" />
        </label>
        <label>
            선택4
            <input name="radiogroup1" type="radio" />
        </label>
    </div>
    <div>
        <a href="https://corporate.exxonmobil.com/" target="_blank">
            <img src="https://th.bing.com/th/id/OIP.CqnOol_M-ySqfuSHuG8f-QHaEK?pid=ImgDet&rs=1" alt="OilCompany" width="300" height="200" title="Exxon Moblie" />
        </a>
    </div>
    <p>힘들다</p>
    <br/>
    <br/>
    <div>
        <ol >
            @* Ordered List라는 줄임말이었다 UL은 Unordered List*@
            <li><a href="https://www.google.co.kr/">Google</a></li>
            <li><a href="https://www.naver.com/" target="_blank">Naver</a></li>
        </ol>
    </div>
    <input type="text" value="연습" disabled />

</div>
<div>
    <div class="col-md-8">
        <table>
            <thead>
                <tr>
                    <td style="color : red">월</td>
                    <td id="idno1">화</td>
                    <td>수</td>
                    <td>목</td>
                    <td>금</td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>2</td>
                    <td>3</td>
                    <td>4</td>
                    <td>5</td>
                </tr>
                <tr>
                    <td>6</td>
                    <td>7</td>
                    <td>8</td>
                    <td>9</td>
                    <td>10</td>
                </tr>
            </tbody>


        </table>

    </div>
</div>